@*@page*@
@model IEnumerable<ZooProjF.Models.ExhibitModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Exhibit";
}

<!DOCTYPE html>

<html>
<head>
    <title>Title</title>
</head>
<body>
<div>
    @foreach (var item in Model)
    {
        @Html.DisplayNameFor(model => model.Name)
    }
</div>
</body>
</html>