
@{
    ViewData["Title"] = "TicketIndex";
    
}
<body style="background-color:#949085">
    <section class="container">
        <h1 style="text-align:center;margin-top:200px">Tickets</h1>
        <div class="row">
            <article class="card fl-left">
                <section class="date">
                    <time datetime="23th feb">
                        <span>Kids</span><span>Ticket</span>
                    </time>
                </section>
                <section class="card-cont">
                    <small>$8.00</small>
                    <h3>Access to all public grounds</h3>
                    <div class="even-date">
                        <i class="fa fa-calendar"></i>
                        <time>
                            <span>monday to Sunday</span>
                            <span>10:30am to 7:00 pm</span>
                        </time>
                    </div>
                    <div class="even-info">
                        <i class="fa fa-map-marker"></i>
                        <p>
                            All Day pass for children up to age 16.
                        </p>
                    </div>
                    <a href="#">tickets</a>
                </section>
            </article>
            <article class="card fl-left">
                <section class="date">
                    <time datetime="23th feb">
                        <span>Adults</span><span>Ticket</span>
                    </time>
                </section>
                <section class="card-cont">
                    <small>$12.00</small>
                    <h3>Access to all public grounds</h3>
                    <div class="even-date">
                        <i class="fa fa-calendar"></i>
                        <time>
                            <span>Monday to Sunday</span>
                            <span>10:30am to 7:00 pm</span>
                        </time>
                    </div>
                    <div class="even-info">
                        <i class="fa fa-map-marker"></i>
                        <p>
                            All Day pass for adults older than 16.
                        </p>
                    </div>
                    <a href="#">tickets</a>
                </section>
            </article>
        </div>
        <div class="row">
            
            <article class="card fl-left">
                <section class="date">
                    <time datetime="23th feb">
                        <span>Special</span><span>Ticket</span>
                    </time>
                </section>
                <section class="card-cont">
                    <small>$12.00</small>
                    <h3>Access to event grounds</h3>
                    <div class="even-date">
                        <i class="fa fa-calendar"></i>
                        <time>
                            <span>Friday to Sunday</span>
                            <span>10:30am to 7:00pm</span>
                        </time>
                    </div>
                    <div class="even-info">
                        <i class="fa fa-map-marker"></i>
                        <p>
                            Access to the special event grounds for the day.
                        </p>
                    </div>
                    <a href="#">booked</a>
                </section>
            </article><!--
            <article class="card fl-left">
                <section class="date">
                    <time datetime="23th feb">
                        <span>Special</span><span>Ticket</span>
                    </time>
                </section>
                <section class="card-cont">
                    <small>$12.00</small>
                    <h3>Access to event grounds</h3>
                    <div class="even-date">
                        <i class="fa fa-calendar"></i>
                        <time>
                            <span>Friday to Sunday</span>
                            <span>10:30am to 7:00pm</span>
                        </time>
                    </div>
                    <div class="even-info">
                        <i class="fa fa-map-marker"></i>
                        <p>
                            Access to the special event grounds for the day.
                        </p>
                    </div>
                    <a href="#">cancel</a>

                </section>
            </article>-->
        </div>
    </section>

</body>